/* RepoCard.module.css */

.repoCard {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    width:300px ;
  }
  .repoName {
    color: #1a1a1a; /* Dark Gray */
  }
  
  .description {
    color: #333333;
    margin-top: 5px; /* Gray */
  }
  
  .languages {
    margin-top: 10px;
    color: #ffffff; /* White */
    background-color: #4caf50; /* Green */
    padding: 5px 10px;
    border-radius: 5px;
  }
  .languages_wrapper{
    overflow-x: scroll;
  }

.repoCard >div{

    display: flex;
    gap:10px   
}
 

.languages_wrapper::-webkit-scrollbar {
  display: none;
}